* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #090e18;
  color: #949494;
}
fieldset {
  border-color: #949494 !important;
}
.MuiFormLabel-root {
  color: #737373 !important;
  font-size: 18px !important;
}

/* .MuiSvgIcon-root {
  fill: #737373 !important;
} */

input {
  color: white !important;
}
input[type="file"]::file-selector-button {
  padding: 5px 10px;
  border: none;
  background-color: #f95f29;
  color: white;
  margin: 0 5px;
  border-radius: 3px;
}

input[type="file"] {
  font-size: 13px;
  cursor: pointer;
}
pre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 20px;
  overflow-x: auto;
  text-transform: none;
  background-color: #090e18;
  border-radius: 10px;
  width: 100%;
}
/* #141d2b */
